body {
  color: white;
  background: linear-gradient(to bottom, rgb(3, 13, 143), rgb(27, 129, 224));
  font-family: 'Oxygen', sans-serif;
  font-size: 1.15em
}

img {
  width: 100%;
  height: 520px;
}

img[src="images/naruto-rasengan-by-kortrex-d7xblkk.jpg"] {
  height: 1200px;
}

table {
  border: 1px solid white;
  width: 50%;
}

th {
  border-bottom: 1px solid black;
}

td {
  margin-top: 10px;
  border: 1px solid black;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #bf1ce8;
}

li {
  list-style: none;
}

button[name="naruto"],
button[name="shippuuden"] {
  height: 3em;
  width: 12em;
  margin: 0 .75em;
}

#site-header {
  display: flex;
  border: 3px solid white;
  align-items: center;
}

#top-nav-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

.top-nav-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#side-nav-bar {
  display: flex;
  border: 3px solid white;
  height: 800px;
  width: 20%;
  align-items: center;
}

.side-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid white;
  height: 100%;
  padding-left: 0;
}

#about {
  border: 3px solid white;
  padding: 1.5em 0;
  text-align: justify;
}

.about-text {
  padding: 0 1.2em;
}

#about-title {
  text-align: center;
}

#episodes {
  border: 3px solid white;
  padding: 1.5em 0;
}

.series-episode-selection {
  display: flex;
  align-items: center;
}

.episode-selection-btn {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.naruto-episodes,
.shippuuden-episodes {
  text-align: center;
  padding: .4em 0;
}

.naruto-table-buttons,
.shippuuden-table-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.naruto-season-1-table,
.naruto-movies-table,
.shippuuden-season-1-table,
.shippuuden-movies-table {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#characters {
  border: 3px solid white;
  padding: 1.5em 0;
}

.character-list-title {
  text-align: center;
  border-bottom: 1px dashed white;
}

.pic-note {
  text-align: center;
}

.copyright {
  margin-left: .4em;
}

.bottom-nav-bar {
  border-top: 5px solid white;
}
