body {
  color: white;
  background-color: blue;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.15em
}

img {
  width: 100%;
  height: 520px;
}

table {
  border: 1px solid white;
}

th {
  border-bottom: 1px solid black;
}

td {
  margin-top: 10px;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#top-nav-bar {

}

#side-nav-bar {

}

#site-head {
  background-image: url(../images/naruto-rasengan-by-kortrex-d7xblkk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 860px;
}

#about {
  border: 3px solid white;
  padding: 1.5em 0;
  text-align: justify;
}

.about-text {
  padding: 0 1.2em;
}

#about-title {
  text-align: center;
}

#episodes {
  border: 3px solid white;
  padding: 1.5em 0;
}

.naruto-movies {
  margin-top: 1.2em;
}

.shippuuden-movies {
  margin-top: 1.2em;
}

#characters {
  border: 3px solid white;
  padding: 1.5em 0;
}
