body {
  display: grid;
  color: white;
  background: linear-gradient(to bottom, rgb(3, 13, 143), rgb(27, 129, 224));
  font-family: 'Oxygen', sans-serif;
  font-size: 1.15em;
  grid-template-columns: 15em 1fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-row-gap: 2em;
  grid-template-areas:
    "header header header"
    "main-pic main-pic main-pic"
    "about-side-nav about about"
    "episode-side-nav episodes episodes"
    "character-jutsu-side-nav characters characters"
    "footer footer footer"
}

img {
  width: 95%;
  height: 520px;
  margin: 0 auto;
}

.about-image,
.episodes-image,
.characters-image {
  padding-left: 1.5em;
}


.main-image {
  grid-area: main-pic;
  height: 1200px;
}

table {
  width: 75%;
}

caption {
  padding-bottom: 1em;
  font-size: 2em;
}

th {
  border-bottom: 3px solid rgb(36, 1, 92);
  text-align: center;
}

td {
  text-align: center;
  margin-top: 10px;
  border: 3px solid rgb(36, 1, 92);
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

a:hover {
  color: rgb(101, 0, 184);
}

li {
  list-style: none;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

li:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

li > button {
  margin: .25em;
}

/* Header Section */

#site-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  grid-area: header;
}

#top-nav-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 35%;
}

.top-nav-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Side-Nav Bars */

#about-side-nav-bar {
  display: flex;
  position: relative;
  grid-area: about-side-nav;
  align-items: flex-end;
}

#episode-side-nav-bar {
  display: flex;
  position: relative;
  grid-area: episode-side-nav;
  align-items: flex-end;
}

#character-jutsu-side-nav-bar {
  display: flex;
  position: relative;
  grid-area: character-jutsu-side-nav;
  align-items: flex-end;
}

.side-nav-links {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 0 1em 0;
}

.side-nav-links > li {
  padding: 1em 0;
  text-align: center;
}

/* About Section */

#about {
  grid-area: about;
  padding: 1.5em 0;
  text-align: justify;
}

.about-text {
  padding: 0 1.5em;
  line-height: 1.5em;
}

#about-title {
  text-align: center;
}

.about-button {
  width: 10em;
  height: 5em;
  border-style: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 1em;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.about-button:hover {
  color: rgb(101, 0, 184);
}

.about-button:focus,
.about-button::-moz-focus-inner{
  color: rgb(101, 0, 184);
  border: none;
  outline: none;
}

/* Episode Section */

.episode-guide {
  width: 10em;
  height: 5em;
  border-style: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 1em;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.episode-guide:hover {
  color: rgb(101, 0, 184);
}

.episode-guide:focus,
.episode-guide::-moz-focus-inner{
  color: rgb(101, 0, 184);
  border: none;
  outline: none;
}

#episodes {
  grid-area: episodes;
  padding: 1.5em 0;
}

.episode-list {
  text-align: center;
}

/* Series and Season selection buttons */

button[name="naruto"],
button[name="shippuuden"] {
  height: 3em;
  width: 8em;
  margin: 0 .75em;
  background-color: rgb(36, 1, 92);
  border: 2px solid rgb(36, 1, 92);
  border-radius: 5%;
  color: rgb(0, 247, 255);
  -webkit-transition: background-color .5s ease, transform .5s ease;
  -moz-transition: background-color .5s ease, transform .5s ease;
  -ms-transition: background-color .5s ease, transform .5s ease;
  -o-transition: background-color .5s ease, transform .5s ease;
  transition: background-color .5s ease, transform .5s ease;
}

button[name^="ns"],
button[name^="ss"] {
  margin: .25em;
  padding: .25em .5em;
  background-color: rgb(36, 1, 92);
  border: 2px solid rgb(36, 1, 92);
  border-radius: 5%;
  color: rgb(0, 247, 255);
  -webkit-transition: background-color .5s ease, transform .5s ease;
  -moz-transition: background-color .5s ease, transform .5s ease;
  -ms-transition: background-color .5s ease, transform .5s ease;
  -o-transition: background-color .5s ease, transform .5s ease;
  transition: background-color .5s ease, transform .5s ease;
}

button[name^="n"]:hover,
button[name^="s"]:hover,
button[name^="p"]:hover {
  cursor: pointer;
  background-color: rgb(101, 0, 184);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.series-selection {
  display: flex;
  align-items: center;
  border-bottom: 3px dashed white;
}

.series-selection-title {
  padding-left: .75em
}

.series-selection-btn {
  display: flex;
  margin-left: 16%;
  justify-content: center;
  align-items: center;
}

.inactive-series {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -moz-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -ms-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -o-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  animation: fadeOut 1s;
}

.active-series {
  display: block;
  position: static;
  visibility: visible;
  opacity: 1;
  -webkit-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -moz-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -ms-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -o-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  animation: fadeIn 1s;
}

.naruto-episodes,
.shippuuden-episodes {
  text-align: center;
  padding: .4em 0;
}

.naruto-table-buttons,
.shippuuden-table-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em 0;
}

.season-table {
  display: none;
  position: absolute;
  visibility: hidden;
  justify-content: center;
  margin-top: 1.5em;
  opacity: 0;
  -webkit-transition:
    opacity 750ms ease-in,
    visibility 750ms ease-in;
  -moz-transition:
    opacity 750ms ease-in,
    visibility 750ms ease-in;
  -ms-transition:
    opacity 750ms ease-in,
    visibility 750ms ease-in;
  -o-transition:
    opacity 750ms ease-in,
    visibility 750ms ease-in;
  transition:
    opacity 750ms ease-in,
    visibility 750ms ease-in;
  animation: fadeOut 1000ms;
}

.season-table.active-table {
  display: flex;
  position: static;
  visibility: visible;
  opacity: 1;
  -webkit-transition:
    opacity 750ms ease-out,
    visibility 750ms ease-out;
  -moz-transition:
    opacity 750ms ease-out,
    visibility 750ms ease-out;
  -ms-transition:
    opacity 750ms ease-out,
    visibility 750ms ease-out;
  -o-transition:
    opacity 750ms ease-out,
    visibility 750ms ease-out;
  transition:
    opacity 750ms ease-out,
    visibility 750ms ease-out;
  animation: fadeIn 1000ms;
}

/* Season Table Pagination Buttons
Pagination hover styling up with season selection styling */

#page-selection {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .5em;
}

.page-selection-buttons {
  display: flex;
}

.table-page {
  margin: .5em 1em;
  background-color: rgb(36, 1, 92);
  border: 2px solid rgb(36, 1, 92);
  border-radius: 5%;
  color: rgb(0, 247, 255);
  -webkit-transition: background-color .5s ease, transform .5s ease;
  -moz-transition: background-color .5s ease, transform .5s ease;
  -ms-transition: background-color .5s ease, transform .5s ease;
  -o-transition: background-color .5s ease, transform .5s ease;
  transition: background-color .5s ease, transform .5s ease;
}

/* Character-Jutsu Side-Nav Select Buttons */

.character-jutsu-button {
  width: 10em;
  height: 5em;
  border-style: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 1em;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.character-jutsu-button:hover {
  color: rgb(101, 0, 184);
}

.character-jutsu-button:focus,
.character-jutsu-button::-moz-focus-inner {
  color: rgb(101, 0, 184);
  border: none;
  outline: none;
}

/* Individual Jutsu and Village Selection from side-nav */

button[name$="-jutsu"],
button[name$="-village"] {
  background-color: rgb(36, 1, 92);
  border: 2px solid rgb(36, 1, 92);
  border-radius: 5%;
  color: rgb(0, 247, 255);
  -webkit-transition: background-color .5s ease, transform .5s ease;
  -moz-transition: background-color .5s ease, transform .5s ease;
  -ms-transition: background-color .5s ease, transform .5s ease;
  -o-transition: background-color .5s ease, transform .5s ease;
  transition: background-color .5s ease, transform .5s ease;
}

button[name$="-jutsu"]:hover,
button[name$="-village"]:hover {
  cursor: pointer;
  background-color: rgb(101, 0, 184);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* Character-Jutsu Section */

#characters-jutsu {
  grid-area: characters;
  padding: 1.5em 0;
}

#jutsu-selection-container {
  display: none;
}

.jutsu-selection,
.village-selection {
  display: none;
  position: absolute;
  visibility: hidden;
  padding: 0;
  opacity: 0;
  -webkit-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -moz-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -ms-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -o-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  animation: fadeOut 1s;
}

.jutsu-selection.open,
.village-selection.open {
  display: flex;
  position: static;
  flex-wrap: wrap;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  -webkit-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -moz-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -ms-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -o-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  animation: fadeIn 1s;
}

.character-list-title {
  text-align: center;
  border-bottom: 1px dashed white;
  padding-bottom: .75em;
}

#character-jutsu-container-title {
  text-align: center;
}

.character-jutsu-container{
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  -webkit-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -moz-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -ms-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  -o-transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  transition:
    opacity 500ms ease-in,
    visibility 500ms ease-in;
  animation: fadeOut 1000ms;
}

.character-jutsu-container.active-container {
  display: flex;
  position: static;
  visibility: visible;
  opacity: 1;
  -webkit-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -moz-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -ms-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  -o-transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  transition:
    opacity 500ms ease-out,
    visibility 500ms ease-out;
  animation: fadeIn 1000ms;
}

.jutsu {
  width: 15em;
  height: 20em;
  margin: .5em 0;
  padding: 0 .25em;
  border: 3px solid white;
}

.jutsu-info {
  display: inline-flex;
  padding-top: 1em;
}

.characters {
  border: 3px solid white;
  width: 15em;
  height: 10em;
}

.character-image {
  height: 50px;
  width: 50px;
}

.rank {
  font-size: .75em;
}

.character-jutsu-list {
  display: flex;
  padding: 0 2em 0 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Footer Section */

#site-footer {
  grid-area: footer;
}

.pic-note {
  text-align: center;
}

.copyright {
  margin-left: .4em;
}

.bottom-nav-bar {
  border-top: 5px solid white;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
